CONFIG_ARM=y
CONFIG_ORION5X=y
CONFIG_SPL_LIBCOMMON_SUPPORT=y
CONFIG_SPL_LIBGENERIC_SUPPORT=y
CONFIG_TARGET_Z5=y
CONFIG_SPL_SERIAL_SUPPORT=y
CONFIG_IDENT_STRING=" Z5"
CONFIG_BOOTDELAY=3
CONFIG_MTD_NOR_FLASH=y
CONFIG_ARCH_MISC_INIT=y
CONFIG_SPL=y
CONFIG_SPL_BOARD_INIT=y
CONFIG_SPL_NOR_SUPPORT=y
CONFIG_HUSH_PARSER=y
CONFIG_SYS_PROMPT="Z5> "
# CONFIG_CMD_NET is not set
